<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>
    <arg name="model" default="$(find my6lbot_description)/urdf/my6lbot.urdf"/>
    <arg name="gui" default="true" /> 

    <param name="use_gui" value="$(arg gui)"/>

    <param name="robot_description" textfile="$(arg model)"/>
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose) -urdf -param robot_description -model $(arg robot_name)" output="screen"/>

   <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" 
          name="robot_state_publisher" output="screen"/>-->
   
   <node name="state_publisher" pkg="gazebo_multi_robot" type="state_publisher" />
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
   
    
<!-- All the stuff as from usual robot launch file goes here -->
</launch>
