<launch> 
  <!-- ROBOT 1-->
  <group ns="andruino1">
    <param name="tf_prefix" value="andruino1" />
    <include file="$(find gazebo_multi_robot)/launch/def_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
      <arg name="robot_name" value="andruino1" />
    </include>
  </group>

  <!-- ROBOT 2-->
  <group ns="andruino2">
    <param name="tf_prefix" value="andruino2" />
    <include file="$(find gazebo_multi_robot)/launch/def_robot.launch" >
      <arg name="init_pose" value="-x -3 -y 3 -z 0" />
      <arg name="robot_name" value="andruino2" />
    </include>
  </group>

<!-- ROBOT 3 -->
  <group ns="andruino3">
    <param name="tf_prefix" value="andruino3" />
    <include file="$(find gazebo_multi_robot)/launch/def_robot.launch" >
      <arg name="init_pose" value="-x -3 -y -3 -z 0" />
      <arg name="robot_name" value="andruino3" />
    </include>
  </group>

<!-- ROBOT 4
  <group ns="andruino4">
    <param name="tf_prefix" value="andruino4" />
    <include file="$(find gazebo_multi_robot)/launch/def_robot.launch" >
      <arg name="init_pose" value="-x 3 -y -3 -z 0" />
      <arg name="robot_name" value="andruino4" />
    </include>
  </group>-->
</launch>
